<%= render 'navbar' %>

<p id="notice"><%= notice %></p>

<h1 class="titles">M G P</h1>

<div class="container">

  <div class="gallery-container">

    <% @pictures.each_with_index do |picture, index| %>

    <div class="picture-box">
      <%= link_to picture.url, data: { lightbox: "image-1", title: picture.title, href: url_for(picture) } do %>
      <%= image_tag picture.url %>
      <% end %>
    </div>
    <% if (index = 1) % 4 == 0 %>
  </div>
  <% end %>
  <!-- <td><%= link_to 'Show', picture, class:'btn btn-default' %></td>
  <td><%= link_to 'Edit', edit_picture_path(picture), class:'btn btn-default' %></td>
  <td><%= link_to 'Delete', picture, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default' %></td> -->
  <% end %>
</div>
</div>
